.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(248, 244, 237, 0.8);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
 }

 .modal {
   background-color: #f8f4ed;
   padding: 20px;
   border-radius: 16px;
   width: 50%;
   max-width: 400px;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
   position: relative;
 }


 @media (max-width: 768px) {
   .modal {
     width: 80%;
     height: auto;
   }
 }


 .modal-buttons {
   display: flex;
   justify-content: space-between;
   width: 100%;
   margin-top: 15px;
 }

 .btn-confirm,
 .btn-cancel {
   flex: 1;
   padding: 8px 12px;
   border-radius: 25px;
   border: none;
   cursor: pointer;
   transition: all 0.2s ease;
 }

 .btn-confirm {
   background-color: #46624a;
   color: white;
   margin-right: 5px;
 }

 .btn-cancel {
   background-color: #d4af37;
   color: white;
   margin-left: 5px;
 }

 .btn-confirm:hover,
 .btn-cancel:hover {
   color: black;
   transform: scale(1.05);
 }

 .modal input {
   width: 100%;
   padding: 8px;
   margin: 6px 0;
   border-radius: 8px;
   border: 1px solid #ccc;
   outline: none;
   box-sizing: border-box;
 }

 .modal input:focus {
   border-color: #46624a;
 }

 .modal h3 {
   margin: 5px 0 10px 0;
   text-align: center;
   font-size: 1.2rem;
 }