.footer {
  /* background-color: #c7c7c7; */
  background-color: #f0e6e9; /* color: #6ab553; */
  color: #d54b90;
  display: flex;
  /* justify-content: space-around; */
  text-align: center;
  height: 25vh;
}

.content-izq {
  /* background-color: #d54b90; */
  text-align: center;
  padding: 2vh;
  margin: auto;
  margin-right: 0;
  height: 100%;
}

.content-der {
  /* background-color: #d54b90; */
  text-align: center;
  padding: 2vh;
  margin: auto;
  margin-left: 0;
  height: 100%;
}
