/* ---------- SIGN IN ----------
.sign-in__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.sign-in__backdrop {
  position: absolute;
  inset: 0;
  background-color: rgba(223, 194, 120, 0.3);
}

.sign-in__wrapper form {
  width: 25rem;
  max-width: 90%;
  z-index: 1;
  animation: showSignInForm 1s;
}

.sign-in__wrapper form img {
  width: 4rem;
}

@keyframes showSignInForm {
  0%,
  30% {
    transform: translate(0, -150%);
  }
  70%,
  90% {
    transform: translate(0, 1rem);
  }
  80%,
  100% {
    transform: translate(0, 0);
  }
} */



.bg-form{
  background-color: rgba(218, 211, 202, 0.9);
}


.border-pink {
  border: 1.5px solid #ca1c73;
}

.btn-pink {
  background-color: #ca1c73;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
}

.btn-pink:hover {
  background-color: #ca1c73;
  color: #000;
}

.btn-register {
  background-color: #5dade2;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
}

.btn-register:hover {
  background-color: #5dade2;
  color: #000;
}