
.bg-form {
  background-color: rgba(218, 211, 202, 0.9);
}

.border-pink {
  border: 1.5px solid #ca1c73;
}

.btn-volver {
  background-color: #5dade2;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
}

.btn-volver:hover {
  background-color: #5dade2;
  color: #000;
}




